---
import { getCollection } from "astro:content";
import BaseLayout from "./base-layout.astro";

const url = Astro.url;

const allPost = await getCollection("posts");

const post = allPost.filter((post) => url.pathname.includes(post.slug))[0];
---

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>

<BaseLayout pageTitle={post.data.title}>
  <p>Published on: {post.data.pubDate.toString().slice(0, 10)}</p>
  <p><em>{post.body}</em></p>
  <p>Written by {post.data.author}</p>
  <img src={post.data.image.url} alt={post.data.image.alt} />

  <slot />

  <div class="tags">
    {
      post.data.tags.map((tag: string) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>
